<h1>Connection between <%= @users[0].name %> and <%= @users[1].name %></h1>

<div id="message-panel" class="col-md-6" data-connection=<%= @connection.id %>>
  <div id="messages">
    <%= render partial: "messages/show"%>
  </div>
  <%= render partial: "newmessageform"%>
</div>

<div id="course-panel" class="col-md-6">
  <p class="btn btn-lg btn-primary" href="#" id="create-lesson">Create a lesson</p>
  <p class="btn btn-lg btn-primary" href="#" id="view-all-lessons">All Lessons</p>
  <div id="new-lesson-form">
    <%= render partial: "courses/newcourseform"%>
  </div>
  <div id="all-lessons">
    <%= render "courses/viewcourses"%>
  </div>
</div>