<div class="col-lg-12 all-users">
<% @users.each do |user| %>
  <div id='list-container'>
    <div id='user-card' draggable='true' class="col-md-4">
      <div class="col-sm-12 user-inner">
      	<% my_avatar_url = "http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(user.email)}?s=150&d=monsterid" %>
      	<p><img src="<%= my_avatar_url %>" class="profile-img img-circle img-responsive center-block" /></p>
        <h3><%= link_to user.name, user_path(user.id), class:"user-card-title" %></h3>
        <p><%= user.about %></p>
        <p><strong><%= user.name %> wants to learn:</strong></p>
        <% user.skills.where(skill_type:"learn").each do |skill| %>
          <li><%= skill.description %></li>
        <% end %>
        <br />
        <p><strong><%= user.name %> can teach:</strong></p>
        <% user.skills.where(skill_type:"teach").each do |skill| %>
          <li><%= skill.description %></li>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>