<div class="col-md-10 col-md-offset-1">
<div id='search'>
  <p>
    <%= form_tag(users_list_path, remote: true,:method => 'post', id: "search_form") do %>
      <%= text_field_tag :search, params[:search], placeholder: 'Search for a user by name', class:"form-control" %>
      <%= submit_tag "search", class:"btn btn-primary" %>
    <% end %>
  </p>
</div>
<div id='search_results'>
<% if @users.present? %>
	<%= render partial: 'index' %>
<% else %>
	<p>There are no users the term(s) <%= params[:search] %>.</p>
<% end %>
</div>