    <div class="home">
      <% if can_edit_profile?(@user) %>
      <h1>Welcome, <%= @user.name %></h1>
      <% end %>
    <div>
      // Profile image goes here
    </div>
    <div class ="col-md-6">
      <div  id="about">
        <h2>About <%= @user.name %></h2>
         <%= simple_format(@user.about) %>
      </div>

      <div id = "availability">
        <h2>I'm available at these times:</h2>
        <%= simple_format(@user.availability) %>
      </div>
   </div>
   <div class ="col-md-6">
    <div id="teach">
      <h2>I can teach:</h2>
        <ul>
          <% @user.skills.where(skill_type: 'teach').each do |skill| %>
            <li><%= simple_format(skill.description)%></li>
            <%= link_to "remove", delete_skill_path(user_id: skill.user_id,id: skill.id),method: :delete%></a>
          <% end %>
        </ul>
        //Add things to teach

        <p>Add things to teach
          <%= form_for(:skill, url: create_skill_path(@user.id)) do |f| %>
            <%= f.text_field :description %>
            <%= f.hidden_field :skill_type, :value=>'teach' %>
            <%= f.hidden_field :user_id, :value=>"#{current_user.id}"%>
            <%= f.submit value='new skill' %>
          <% end %>

           Teaching skills go here
        </p>
      <% if can_edit_profile?(@user) %>

        <%= link_to 'Find a Learner', users_path, :class => "btn btn-lg btn-primary" %>
      <%  else %>
        <%= render partial: "connectbutton"%>
      <% end %>
    </div>

    <div id="learn">
      <h2>I'm keen to learn:</h2>

        <ul>
          <% @user.skills.where(skill_type: 'learn').each do |skill| %>
            <li><%= simple_format(skill.description)%></li>
            <%= link_to "remove", delete_skill_path(user_id: skill.user_id,id: skill.id),method: :delete%></a>
          <% end %>
        </ul>
<<<<<<< HEAD
        //Add things to learn
        <%= form_for(:skill, url: create_skill_path(@user.id)) do |f| %>
          <%= f.text_field :description %>
          <%= f.hidden_field :skill_type, :value=>'learn' %>
          <%= f.hidden_field :user_id, :value=>"#{current_user.id}"%>
          <%= f.submit value='new skill' %>
        <% end %>

=======
        <p>Add things to learn</p>
>>>>>>> origin/master

      <% if can_edit_profile?(@user) %>
        <%= link_to 'Find a Tutor', users_path, :class => "btn btn-lg btn-primary" %>
      <% else %>
        <%= render partial: "connectbutton"%>
      <% end %>

    </div>
    </div>
    <% if can_edit_profile?(@user) %>
      <%= render partial: "sessionbuttons"%>
    <% end %>

    <% if can_edit_profile?(@user) %>
      <% @connections.each do |connection| %>
        <li>
          <p>Connection between <%= connection.initializer.name %> and <%= connection.receiver.name %></p>
          <%= link_to "View Connection", connection %>
        </li>
      <% end %>
    <% end %>



