    <div>
      <% if can_edit_profile?(@user) %>
        <h1>Welcome, <%= current_user.name %></h1>
      <% end %>
      // Profile image goes here
    </div>
    <div  id="about">
      <h2>About <%= @user.name %></h2>
       <%= simple_format(@user.about) %>
    </div>

    <div id = "availability">
      <h2>I'm available at these times:</h2>
      <%= simple_format(@user.availability) %>
    </div>

    <div id="teach">
      <h2>I can teach:</h2>
      // Teaching skills go here
      <% if can_edit_profile?(@user) %>
        <%= link_to 'Find a Learner', users_path, :class => "btn btn-lg btn-primary" %>
      <%  else %>
        <%= render partial: "connectbutton"%>
      <% end %>
    </div>

    <div id="learn">
      <h2>I'm keen to learn:</h2>
      // Want to learn goes here
      <% if can_edit_profile?(@user) %>
      <%= link_to 'Find a Tutor', users_path, :class => "btn btn-lg btn-primary" %>
      <% else %>
        <%= render partial: "connectbutton"%>
      <% end %>
    </div>

    <% if can_edit_profile?(@user) %>
      <%= render partial: "sessionbuttons"%>
    <% end %>

