    <div class="home">
      <% if can_edit_profile?(@user) %>
      <h1>Welcome, <%= @user.name.capitalize %></h1>
      <% end %>
    <div>
      // Profile image goes here
    </div>
    <div class ="col-md-6">
      <div  id="about">
        <h2>About <%= @user.name %></h2>
         <%= simple_format(@user.about) %>
      </div>

      <div id = "availability">
        <h2>I'm available at these times:</h2>
        <%= simple_format(@user.availability) %>
      </div>
   </div>
   <div class ="col-md-6">
    <div id="teach">
      <h2>I can teach:</h2>
        <%= render partial: "listteachingskills"%>
      <% if can_edit_profile?(@user) %>
        <%= render partial: "teachingskillsform"%>
      <% end %>
      <% if can_edit_profile?(@user) %>
        <%= link_to 'Find a Learner', users_path, :class => "btn btn-lg btn-primary" %>
      <%  else %>
        <%= render partial: "connectbutton"%>
      <% end %>
    </div>

    <div id="learn">
      <h2>I'm keen to learn:</h2>
      <%= render partial: "listlearningskills"%>
      <% if can_edit_profile?(@user) %>
        <%= render partial: "learningskillsform"%>
      <% end %>

      <% if can_edit_profile?(@user) %>
        <%= link_to 'Find a Tutor', users_path, :class => "btn btn-lg btn-primary" %>
      <% end %>

    </div>
    </div>
    <% if can_edit_profile?(@user) %>
      <%= render partial: "sessionbuttons"%>
    <% end %>

    <% if can_edit_profile?(@user) %>
      <% @connections.each do |connection| %>
        <li>
          <p>Connection between <%= connection.initializer.name %> and <%= connection.receiver.name %></p>
          <%= link_to "View Connection", connection %>
        </li>
      <% end %>
    <% end %>



