<!-- <h2>Create a Lesson</h2>

<%= form_tag connection_courses_path @connection,method: "post" do %>
  <%= hidden_field_tag(:connection_id, @connection.id) %>
  <p>Learner:<%= select_tag :learner_id, options_from_collection_for_select(@users, "id", "name") %></p>
  <p>Tutor: <%= select_tag :tutor_id, options_from_collection_for_select(@users, "id", "name") %></p>
  <p><%= label_tag :title %>:</p>
  <p><%= text_field_tag :title %></p>
  <p><%= label_tag :price %>:</p>
  <p><%= number_field_tag :price %></p>
  <p><%= label_tag :length %>:</p>
  <p><%= number_field_tag :length %> Hours</p>
  <p class="learning-objectives"></p>
    <a href="javascript:;" id="add-learning-objective">Add a Learning Objective</a>
  <%= submit_tag "Create", :class => "btn btn-lg btn-primary" %>
<% end %>

<div id="new-learning-objectives">
  <%= render partial: "learning_objectives/form" %>
</div>
 -->

<%= form_for [@connection,@course] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %><br />
  <%= f.label :price %>
  <%= f.number_field :price %><br />
  <%= f.label :status %>
  <%= f.select :status, ['pending', 'agreed', 'complete'] %><br />
  <%= f.label :tutor_id %>
  <%= f.select :tutor_id, @users.map{|user| [user.name,user.id]} %><br />
  <%= f.label :learner_id %>
  <%= f.select :learner_id, @users.map{|user| [user.name,user.id]} %><br />
  <%= f.label :length %>
  <%= f.number_field :length %><br />
  <p class="learning-objectives"></p>
      <a href="javascript:;" id="add-learning-objective">Add a Learning Objective</a>
  <div id="new-learning-objectives">
    <%= render partial: "learning_objectives/form" %>
  </div>
  <% @course.learning_objectives.each do |lo| %>
    <p><%= label_tag 'Learning Objective' %>
    <%= hidden_field_tag 'lo_id[]', lo.id %>
    <%= text_field_tag 'learningObjectives[]', lo.objective %></p>
  <% end %>
  <% if @course.status == 'complete' %>
    <% render partial: 'ratings/form' %>
  <% end %>
  <%= f.submit %>
<% end %>