<h2>Create a Lesson</h2>

<%= form_tag connection_courses_path @connection,method: "post" do %>
  <%= hidden_field_tag(:connection_id, @connection.id) %>
  <p>Learner:<%= select_tag :learner_id, options_from_collection_for_select(@users, "id", "name") %></p>
  <p>Tutor: <%= select_tag :tutor_id, options_from_collection_for_select(@users, "id", "name") %></p>
  <p><%= label_tag :title %>:</p>
  <p><%= text_field_tag :title %></p>
  <p><%= label_tag :price %>:</p>
  <p><%= number_field_tag :price %></p>
  <p><%= label_tag :length %>:</p>
  <p><%= number_field_tag :length %> Hours</p>
  <p class="learning-objectives"></p>
    <a href="javascript:;" id="add-learning-objective">Add a Learning Objective</a>
  <%= submit_tag "Create", :class => "btn btn-lg btn-primary" %>
<% end %>

<div id="new-learning-objectives">
  <%= render partial: "learning_objectives/form" %>
</div>


