<h2>All Lessons</h2>
<% @courses.each do |course| %>
  <div class="course">
    <h4><strong><%= link_to course.title, connection_course_path(@connection, course) %></strong></h4>
    <p><strong>Tutor:</strong> <%= course.try(:tutor).try(:name) %></p>
    <p><strong>Learner:</strong> <%= course.try(:learner).try(:name) %></p>
    <p><strong>Price:</strong> $<%= course.price %></p>
    <p><strong>Length:</strong> <%= course.length %> hours</p>
    <p><strong>Status:</strong> <%= course.status.capitalize %></p>
    <%= link_to 'Update Lesson', edit_connection_course_path(@connection,course), class:"btn btn-default" %>
    <%= link_to 'Delete Lesson', connection_course_path(@connection,course), method: "Delete", class:"btn btn-default" %>
  </div>
<% end %>
