
<h1>All Lessons</h1>
<% @courses.each do |course| %>
  <div class="course">
    <h3><%= course.title %></h3>
    <p>Tutor: <%= course.tutor.name %></p>
    <p>Learner: <%= course.learner.name %></p>
    <p>Price: $<%= course.price %></p>
    <p>Status: <%= course.status.capitalize %></p>
    <%= link_to 'Update Lesson', edit_connection_course_path(@connection,course) %>
  </div>
<% end %>
