<h2>Update Lesson</h2>

<%= form_tag "/courses/#{@course.id}", method: "PATCH" do %>
  <%= hidden_field_tag(:connection_id, @connection.id) %>
  <p>Learner:<%= select_tag 'Learner', options_from_collection_for_select(@users, "id", "name") %></p>
  <p>Tutor: <%= select_tag 'Tutor', options_from_collection_for_select(@users, "id", "name") %></p>
  <p><%= label_tag :title %>:</p>
  <p><%= text_field_tag :title %></p>
  <p><%= label_tag :price %>:</p>
  <p><%= number_field_tag :price %></p>
  <p>Learning Objectives go here</p>
  <%= submit_tag "Update", :class => "btn btn-lg btn-primary" %>
  <p>Status: Agreed/Pending</p>
<% end %>
