<h2><%= @course.title %></h2>
<p>Learner: <%= @course.learner.name %></p>
<p>Tutor: <%= @course.tutor.name %></p>
<p>Price: <%= @course.price %></p>
<p>Length: <%= @course.length %></p>
<p>Status: <%= @course.status %></p>
<h3>Learning Objectives</h3>
<% @course.learning_objectives.each do |lo| %>
  <li><%= lo.objective %></li>
<% end %>

<p>
  <% if @course.ratings.find_by(rating_type:"tutor_rate_learner") %>
    <%= @course.tutor.name %> rated <%= @course.learner.name %>: <%= @course.ratings.find_by(rating_type:"tutor_rate_learner").rating %>
  <% elsif @course.tutor == current_user %>
    <%= render partial: 'ratings/form' %>
  <% end %>
</p>

<p>
<% if @course.ratings.find_by(rating_type:"learner_rate_tutor") %>
  <%= @course.learner.name %> rated <%= @course.tutor.name %>: <%= @course.ratings.find_by(rating_type:"learner_rate_tutor").rating %>
  <% elsif @course.learner == current_user %>
    <%= render partial: 'ratings/form' %>
<% end %>
</p>

<%= link_to 'Update Lesson', edit_connection_course_path(@connection,@course) %>
<%= link_to 'Delete Lesson', connection_course_path(@connection,@course), method: "Delete" %>
