<!DOCTYPE html>
<html>
<head>
  <title>LearningConnect</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-fixed-top navbar-default">
    <ul class="nav navbar-nav">
   <li> <a href="#" class="navbar-brand">Learning Connect</a></li>

  </ul>
  <div class="pull-right"><a href="#" >Log Into Existing Account</a></div>
  </nav>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </div>
</body>
</html>
